body{
    background-color: #F4ECEC;
    font-family: Arial;
    font-size: 20px;
}

.menu-principal {
    text-align: center;
    background-color: #525252;
    border: 1px solid #525252;

}
.menu-principal ul {
    list-style: none;
    width: 98%;
}
.menu-principal li {
    width:auto;
    display: inline;
    margin-left: auto;
}

.menu-principal a{
    text-decoration: none;
    color:#F4ECEC;
    margin-left: 10px;
}
a:hover{
    background-color: #B1B2B2;
}


.TextoFoto{
    margin-top: 70px;
    float:right;
    width:70%;
    font-size: 20px;
    text-align: justify;
}
img{
    float: right;
    border-radius: 50%;
    height: auto;
    margin-top: 50px;
    max-width: 25%;
    width:30%;
}
.ContenedorEnlaces{
    text-align: center;
    color:black;
}
.ContenedorEnlaces a{
    text-decoration: none;
    color:black

}
.Enlaces{
    display: inline-block;
    text-align: left;
}

.About h2{
    font-size: 25px;
}