body{
    background-color: #E4E0E4;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.CuerpoForm{
    background-color:  #BCBFFF;
}

.menu-principal {
    text-align: center;
    background-color: #525252;
    border: 30px solid #525252;

}


.menu-principal ul {
    list-style: none;
    width: 98%;
}
.menu-principal li {
    width:auto;
    display: inline;
    margin-left: auto;
}
.menu-principal img {
    float: left;
    border-radius: 50%;
    width:15%;
    margin: auto;
}

.menu-principal a{
    text-decoration: none;
    color:#F4ECEC;
    margin-left: 30px;
    font-size: 25px;
}
a:hover{
    background-color: #B1B2B2;
}



.TextoFoto{
    margin-top: 70px;
    float:right;
    width:70%;
    font-size: 25px;
    text-align: justify;
    margin-left: 20px;
}

#MiFoto{
    float: right;
    border-radius: 50%;
    height: auto;
    margin-top: 50px;
    max-width: 25%;
    width:30%;
}
.ContenedorEnlaces{
    text-align: center;
    color:black;
}
.ContenedorEnlaces a{
    text-decoration: none;
    color:black

}
.Enlaces{
    display: inline-block;
    text-align: left;
}

h2{
    margin-top: 30px;
    font-size: 30px;
}

.Presentacion{
    text-align: justify;
    float: left;
    width:100%;
    margin-bottom: 20px;
}
#Mates{
    float: right;
    height: auto;
    max-width: 30%;
    margin-left: 40px;
    margin-bottom: 10px;;

}

.Aficiones{
    text-align: justify;
    float: left;
    width:100%;
    margin-bottom: 20px;
}

#Deporte{
    float: right;
    height: auto;
    max-width: 30%;
    margin-left: 40px;
    margin-bottom: 10px;

}

.IntroEstudios{
    font-size: 25px;
    text-align: left;
    margin-top: 100px;
}
.losSauces{
    margin-top: 20px;
    float:right;
    width:10%;
    font-size: 25px;
    text-align: justify;
    margin-right: 90px;
}

.CEU{
    margin-top: 20px;
    float:left;
    width:15%;
    font-size: 25px;
    text-align: justify;
    margin-right: 90px;
}

.UAX{
    margin-top: 5px;
    float:left;
    width:10%;
    font-size: 25px;
    text-align: justify;
    margin-right: 90px;
}
.Institucion{
    font-size: 24px;
}

.contacta{
    font-size: 30px;
    text-align: center;
}

.ContenedorFormulario{
    text-align: center;
    color:#525252;
    display:list-item;
    font-size: 26px;
    flex-direction: column;
}
#title h3{
    padding: 20x;
    margin-right: 150px;
    font-weight: bold;
    letter-spacing: 4px;

}
input {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 20px;
    padding: 30px;
    width: 400px;
}
select{
    background-color: transparent;
    border: 1px solid #525252;
    margin: 20px;
    padding: 30px;
    width: 470px;
}
textarea {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 10px;
    padding: 15px;
    width:420px;
}
input:hover,
textarea:hover {
    box-shadow: inset 0px 0px 0px 3px #525252;
}

input[type="button"] {
    color: #E8E6E8;
    background-color: #525252;
}
button:hover{
    box-shadow: inset 0px 0px 0px 3px #525252;
}

.FotoForm{
    margin-right: 400px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}