body{
    background-color: #E4E0E4;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    max-width: 700px;
    margin: auto;
    max-width: fit-content;

}





/* -----------------Estructura de la cabecera como menu  ---------------*/
.menu-principal {
    text-align: center;
    background-color: #525252;
    border: 30px solid #525252;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
/*Estilos del menu*/
.menu-principal li{
    margin:auto;
    text-align: center;
    padding:10px;
    left:0;
    right:3px;
    display: inline;
}
.menu-principal a{
    text-decoration: none;
    color:#F4ECEC;
    margin-left: 0px;
    font-size: 13px;
    width: auto;
    display: inline;
    margin-left: 5px;
    text-align: center;
}
a:hover{
    background-color: #B1B2B2;
}





/* -----------------PÁGINA PRINCIPAL  --------------------*/

/* Foto fijada en la parte inferior derecha */
#FotoFixed{
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    right: 0;
    max-width: 90px;
}

/*Primera Descripcion general */
.ContenedorInicio{
    margin-top: 100px;
}
.TextoFoto{
    margin-top: 0%;
    float:right;
    width:60%;
    font-size: 14px;
    text-align: justify;
}
.ContenedorEstudios{
    margin-left: 20px;
}

/*FotoPrincipal Redonda */
#MiFoto{
    float: right;
    border-radius: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 35%;
    width:30%;
    margin-left: 10px;
    margin-right: 20px;
}
/*Estilos de los enlaces */
.ContenedorEnlaces{
    text-align: center;
    color:black;
}
.ContenedorEnlaces a{
    text-decoration: none;
    color:black;
}
.Enlaces{
    display: inline-block;
    text-align: left;
}

/*Quien soy, título, texto y foto */
#Conociendome {
    margin-left: 20px;
    margin-right: 10px;
}
#Conociendome h2{
    top:70px;
    font-size: 20px;
    position:static;
}

#Conociendome p{
    font-size: 16px;
    text-align: justify;
}


.About{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 20px;
    margin: auto;
}

#Mates{
    float: right;
    height: auto;
    max-width: 35%;
    margin-left: 10px;
    margin-right: 20px;
}

/*Por qué ingeniería, título, texto y foto */
.Ingenieria{
    text-align: justify;
    float: left;
    width:100%;
    margin-bottom: 20px;
}

#ingenieria{
    float: left;
    height: auto;
    max-width: 30%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/*Aficiones, título, texto y foto */
#Hobbies{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 10px;
    margin:auto;
    margin-left: 30px;
}


#Deporte{
    float: right;
    height: auto;
    max-width: 30%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}





/* -----------------PÁGINA DE ESTUDIOS ----------------- */

.IntroEstudios{
    font-size: 16px;
    text-align: left;
    margin-top: 100px;
}
.losSauces{
    margin-top: 10px;
    float:right;
    width:15%;
    font-size: 25px;
    text-align: justify;
    margin-right: 90px;
    margin-right: 10px;
}

.CEU{
    margin-top: 10px;
    float:left;
    width:25%;
    font-size: 25px;
    text-align: justify;
    margin-right: 10px;
}

.UAX{
    margin-top: 5px;
    float:left;
    width:20%;
    font-size: 25px;
    text-align: justify;
    margin-right: 15px;
}
.Institucion{
    font-size: 24px;
}





/*    ---------------------EXPERIENCIA ---------------  */
.ContenedorExperiencia{
    margin-left: 15px;
    margin-right: 10px;
}
h5{
    margin-top: 70px;
    font-size: 20px;
}
.PrimeraExperiencia{
    text-align: justify;
    float: left;
    width:100%;
}

#FotoMapfre{
    float: left;
    height: auto;
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}


.SegundaExperiencia{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 20px;
}
#FotoParticulares{
    float: right;
    height: auto;
    max-width: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.TerceraExperiencia{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 40px;
}
#FotoVoluntariado{
    float: right;
    height: auto;
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}




/* ------------------------PÁGINA FORMULARIO  --------------------*/

h3{
    margin-top: 40px;
}

.ContenedorFormulario{
    margin-top: 50px;
    text-align: center;
    color:#525252;
    font-size: 26px;
    overflow: auto;

}
.CuerpoForm{
    background-color:  #BCBFFF;
    max-width: fit-content;
}

.contacta{
    font-size: 30px;
    text-align: center;
}


#title{
    font-weight: bold;
    letter-spacing: 3px;

}

.Formulario{
    padding: 18px;
    min-width: fit-content;

}


input {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 18px;

}
select{
    background-color: transparent;
    border: 1px solid #525252;
    margin: 10px;
    padding: 18px;
    min-width: fit-content;

}
textarea {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 10px;
}


input:hover,
textarea:hover {
    box-shadow: inset 0px 0px 0px 3px #525252;
}
form a{
    font-family: Palatino;
}
form a:hover{
    background-color:pink;
    border: pink;
}
.BotonFromulario{
    color: #E8E6E8;
    background-color: #525252;
    border: 4px solid #525252;
    text-decoration: none;
    margin-bottom: 20px;
}


.FotoForm{
    margin-right: 400px;
    display:block;
    margin:auto;
    width:70%;
}






/*    --------------------GRACIAS  -------------------  */


h4{
    font-size: 30px;
    font-family: Rockwell;
    text-align: center;
    margin-top: 100px;
}

#footer{
    text-align: center;
    color:#525252;
    bottom: 0;
}



@media (max-width: 1000px) {
    /*    --------------------PÁGONA PPAL  -------------------  */
    body{
        font-size: 16px;
        max-width: 850px;
    }

    .menu-principal{
        text-align: center;
        background-color: #525252;
        border: 3px solid #525252;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .menu-principal a {
        width: auto;
        display: inline;
        font-size: 13px;
        text-align: center;
        margin-left: 5px;
    }

    .cuerpo{
        margin-right: 10px;
    }

    #MiFoto{
        margin-bottom: 70px;
    }

    #Hobbies{
        max-width: fit-content;
        margin-left: 15px;
        margin-right: 10px;
    }

    /*    --------------------ESTUDIOS  -------------------  */

    .Institucion{
        font-size: 18px;
    }
}

@media (min-width: 1000px) {

    /*    --------------------PÁGINA PPAL  -------------------  */
    body{
        max-width: 850px;
        margin: 0 auto !important
    }
    #Descripcion{
        margin-top: 50px;
        font-size: 18px;
    }
    .menu-principal a{
        font-size: 25px;
    }
    #MiFoto{
        margin-top: 50px;
    }
    h2{
        margin-top: 70px;
    }
    #Hobbies{
        max-width: fit-content;
        margin-left: 15px;
        margin-right: 10px;
    }



    /*    --------------------ESTUDIOS  -------------------  */
    .IntroEstudios{
        margin-top: 150px;
        font-size: 25px;
        border-color: 5px solid #CDCDCD;
        background-color: #CDCDCD;
    }

    .Institucion{
        border-color: 5px solid #CDCDCD;
        background-color: #CDCDCD;
    }

    .ContenedorEstudios p{
        font-size: 18px;
    }
    .Idiomas li{
        font-size: 18px;
    }
    .Otros li{
        font-size: 18px;
    }



    /*    --------------------EXPERIENCIA  -------------------  */

    .ContenedorExperiencia{
        margin-top: 90px;
    }
    h5{
        border-color: 5px solid #CDCDCD;
        background-color: #CDCDCD;
    }



    /*    --------------------FORMULARIO  -------------------  */
    #title{
        margin-top: 100px;
        font-size: 30px;
    }


    .Formulario{
        padding: 18px;
        min-width: fit-content;
    }

    input {
        background-color: transparent;
        border: 1px solid #525252;
        margin: 18px;
        width:90%;

    }
    select{
        background-color: transparent;
        border: 1px solid #525252;
        margin: 10px;
        padding: 18px;
        width:93%;

    }
    textarea {
        background-color: transparent;
        border: 1px solid #525252;
        margin: 10px;
        width:90%;
    }

    .Gracias{
        margin-top: 200px;
        text-align: center;
    }
}