body{
    background-color: #E4E0E4;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    max-width: 700px;
    margin: auto;
    max-width: fit-content;

}








/*Estructura de la cabecera como menu */
.menu-principal {
    text-align: center;
    background-color: #525252;
    border: 30px solid #525252;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
/*Estilos del menu*/
.menu-principal li{
    margin:auto;
    text-align: center;
    padding:10px;
    left:0;
    right:3px;
    display: inline;
}
.menu-principal a{
    text-decoration: none;
    color:#F4ECEC;
    margin-left: 0px;
    font-size: 13px;
    width: auto;
    display: inline;
    margin-left: 5px;
    text-align: center;
}
a:hover{
    background-color: #B1B2B2;
}





/*PÁGINA PRINCIPAL */

/* Foto fijada en la parte inferior derecha */
#FotoFixed{
    border-radius: 50%;
    width:15%;
    position: fixed;
    bottom: 0px;
    right: 0;
}

/*Primera Descripcion general */
.ContenedorInicio{
    margin-top: 100px;
}
.TextoFoto{
    margin-top: 0%;
    float:right;
    width:60%;
    font-size: 14px;
    text-align: justify;
}
.ContenedorEstudios{
    margin-left: 20px;
}

/*FotoPrincipal Redonda */
#MiFoto{
    float: right;
    border-radius: 50%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 35%;
    width:30%;
    margin-left: 10px;
    margin-right: 20px;
}
/*Estilos de los enlaces */
.ContenedorEnlaces{
    text-align: center;
    color:black;
}
.ContenedorEnlaces a{
    text-decoration: none;
    color:black
}
.Enlaces{
    display: inline-block;
    text-align: left;
}

/*Quien soy, título, texto y foto */
#Conociendome {
    margin-left: 20px;
    margin-right: 10px;
}
#Conociendome h2{
    top:30px;
    font-size: 20px;
    position:static;
}

#Conociendome p{
    font-size: 16px;
    text-align: justify;
}


.About{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 20px;
    margin: auto;
}

#Mates{
    float: right;
    height: auto;
    max-width: 35%;
    margin-left: 10px;
    margin-right: 20px;
}

/*Por qué ingeniería, título, texto y foto */
.Ingenieria{
    text-align: justify;
    float: left;
    width:100%;
    margin-bottom: 20px;
}

#ingenieria{
    float: left;
    height: auto;
    max-width: 30%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/*Aficiones, título, texto y foto */
#Hobbies{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 10px;
    margin:auto;
    margin-left: 30px;
}


#Deporte{
    float: right;
    height: auto;
    max-width: 30%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}







/* PÁGINA DE ESTUDIOS */



.IntroEstudios{
    font-size: 16px;
    text-align: left;
    margin-top: 100px;
}
.losSauces{
    margin-top: 10px;
    float:right;
    width:15%;
    font-size: 25px;
    text-align: justify;
    margin-right: 90px;
}

.CEU{
    margin-top: 10px;
    float:left;
    width:25%;
    font-size: 25px;
    text-align: justify;
    margin-right: 10px;
}

.UAX{
    margin-top: 5px;
    float:left;
    width:20%;
    font-size: 25px;
    text-align: justify;
    margin-right: 15px;
}
.Institucion{
    font-size: 24px;
}







/*PÁGINA FORMULARIO */

.CuerpoForm{
    background-color:  #BCBFFF;
}

.contacta{
    font-size: 30px;
    text-align: center;
}

.ContenedorFormulario{
    margin-top: 50px;
    text-align: center;
    color:#525252;
    font-size: 26px;
    overflow: auto;
    min-width: fit-content;

}
#title{
    font-weight: bold;
    letter-spacing: 3px;

}
input {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 18px;
    padding: 18px;
    width: 400px;
}
select{
    background-color: transparent;
    border: 1px solid #525252;
    margin: 20px;
    padding: 18px;
    width: 450px;
}
textarea {
    background-color: transparent;
    border: 1px solid #525252;
    margin: 10px;
    padding: 12px;
    width:420px;
}
input:hover,
textarea:hover {
    box-shadow: inset 0px 0px 0px 3px #525252;
}
form a{
    font-family: Palatino;
}
form a:hover{
    background-color:pink;
    border: pink;
}
.BotonFromulario{
    color: #E8E6E8;
    background-color: #525252;
    border: 4px solid #525252;
    text-decoration: none;
    margin-bottom: 20px;
}


.FotoForm{
    margin-right: 400px;
    display:block;
    margin:auto;
    width:70%;
}











/*    EXPERIENCIA   */
h5{
    margin-top: 50px;
    font-size: 20px;
}
.PrimeraExperiencia{
    text-align: justify;
    float: left;
    width:100%;
}

#FotoMapfre{
    float: left;
    height: auto;
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}


.SegundaExperiencia{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 20px;
}
#FotoParticulares{
    float: right;
    height: auto;
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.TerceraExperiencia{
    text-align: justify;
    float: right;
    width:100%;
    margin-bottom: 40px;
}
#FotoVoluntariado{
    float: right;
    height: auto;
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}





/*    GRACIAS   */


h4{
    font-size: 30px;
    font-family: Rockwell;

}


#footer{
    text-align: center;
    color:#525252;
    bottom: 0;
}



@media (max-width: 1000px) {
    body{
        font-size: 16px;
        max-width: fit-content;
        margin-left: 20px;
        margin-right: 15px;
    }

    .menu-principal{
        text-align: center;
        background-color: #525252;
        border: 3px solid #525252;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .menu-principal a {
        width: auto;
        display: inline;
        font-size: 13px;
        text-align: center;
        margin-left: 5px;
    }



    .Institucion{
        font-size: 18px;
    }

    .losSauces{
        margin-right: 10px;
    }


}

@media (min-width: 1000px) {
    body{
        max-width: 900px;
        margin: 0 auto !important
    }

}